services:
  nordlynx:
    image: ghcr.io/bubuntux/nordlynx:2023-06-01
    container_name: nordlynx
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - PRIVATE_KEY=${NORDVPN_PRIVATE_KEY}
      - QUERY=filters\[country_id\]=209 # Switzerland 209 - France 74
      - NETWORK=192.168.0.0/24
      - TZ=Europe/Paris
      - ALLOWED_IPS=0.0.0.0/1,128.0.0.0/1
      - "POST_UP=ip -4 route add $$(wg | awk -F'[: ]' '/endpoint/ {print $$5}') via $$(ip route | awk '/default/ {print $$3}')"
      - "PRE_DOWN=ip -4 route del $$(route -n | awk '/255.255.255.255/ {print $$1}') via $$(ip route | awk '/default/ {print $$3}')"
    ports:
      - 8080:8080
      - 8081:8081
      - 6881:6881
      - 6881:6881/udp
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl http://ip-api.com/json/?fields=countryCode | grep CH"]
      interval: 1m
      timeout: 30s
      retries: 1

  stremio:
    image: tsaridas/stremio-docker:latest
    init: true
    container_name: stremio
    network_mode: service:nordlynx
    environment:
      NO_CORS: 1
      AUTO_SERVER_URL: 1
      WEBUI_INTERNAL_PORT: 8081
    volumes:
      - config_stremio:/root/.stremio-server
      - tv:/tv
      - movies:/movies
    ports:
      - 8096:8096
    devices:
      - /dev/dri:/dev/dri
    restart: unless-stopped

  seerr:
    image: ghcr.io/seerr-team/seerr:latest
    container_name: seerr
    environment:
      - LOG_LEVEL=debug
      - TZ=Europe/Paris
      - PORT=5055
    ports:
      - 5055:5055
    volumes:
      - config_seerr:/app/config
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    restart: unless-stopped

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Paris
    volumes:
      - config_jellyfin:/config
      - tv:/data/tvshows
      - movies:/data/movies
    ports:
      - 8096:8096
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Paris
    volumes:
      - config_radarr:/config
      - movies:/movies
      - downloads:/downloads
    ports:
      - 7878:7878
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Paris
    volumes:
      - config_sonarr:/config
      - tv:/tv
      - downloads:/downloads
    ports:
      - 8989:8989
    restart: unless-stopped

  #jackett:
  #  image: lscr.io/linuxserver/jackett:latest
  #  init: true
  #  container_name: jackett
  #  environment:
  #    - PUID=${PUID}
  #    - PGID=${PGID}
  #    - TZ=Europe/Paris
  #    - AUTO_UPDATE=true
  #  volumes:
  #    - config_jackett:/config
  #    - downloads:/downloads
  #  ports:
  #    - 9117:9117
  #  restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Paris
    volumes:
      - config_prowlarr:/config
    ports:
      - 9696:9696
    restart: unless-stopped
    depends_on:
      - nordlynx

  #flaresolverr:
  #  image: ghcr.io/flaresolverr/flaresolverr:latest
  #  init: true
  #  container_name: flaresolverr
  #  environment:
  #    - LOG_LEVEL=debug
  #    - LOG_HTML=false
  #    - CAPTCHA_SOLVER=hcaptcha-solver #none #hcaptcha-solver #harvester
  #    #- HARVESTER_ENDPOINT=https://127.0.0.1:5000/token
  #    - TZ=Europe/Paris
  #    - PORT=8191
  #    - LANG=en_US
  #    - BROWSER_TIMEOUT=300000
  #    - PROMETHEUS_ENABLED=true
  #    - PROMETHEUS_PORT=8192
  #  ports:
  #    - 8191:8191
  #    - 8192:8192
  #  restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Paris
    volumes:
      - config_prowlarr:/config
    ports:
      - 9696:9696
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: service:nordlynx
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Paris
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - config_qbittorrent:/config
      - downloads:/downloads
    restart: unless-stopped
    depends_on:
      nordlynx:
        condition: service_healthy

volumes:
  movies:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /volume1/Data/movies

  tv:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /volume1/Data/tv

  downloads:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /volume1/Data/downloads

  config_jellyfin:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /volume1/Data/config/jellyfin

  config_seerr:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /volume1/Data/config/seerr

  config_jellyfin:
    driver: local
    driver_opts:
      type: nfs
      device: /mnt/DataDisk/config/jellyfin
      o: bind

  config_radarr:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /volume1/Data/config/radarr

  config_sonarr:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /volume1/Data/config/sonarr

  config_jackett:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /volume1/Data/config/jackett

  config_prowlarr:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /volume1/Data/config/prowlarr

  config_qbittorrent:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /volume1/Data/config/qbittorrent

  config_stremio:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /volume1/Data/config/stremio
