services:
  nordlynx:
    image: ghcr.io/bubuntux/nordlynx
    container_name: nordlynx
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - PRIVATE_KEY=${NORDVPN_PRIVATE_KEY}
      - QUERY=filters\[country_id\]=209 # Switzerland 209 - France 74
      - NETWORK=192.168.0.0/24
      - TZ=Europe/Paris
      - ALLOWED_IPS=0.0.0.0/1,128.0.0.0/1
      - "POST_UP=ip -4 route add $$(wg | awk -F'[: ]' '/endpoint/ {print $$5}') via $$(ip route | awk '/default/ {print $$3}')"
      - "PRE_DOWN=ip -4 route del $$(route -n | awk '/255.255.255.255/ {print $$1}') via $$(ip route | awk '/default/ {print $$3}')"
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl https://ipinfo.io/country | grep CH"]
      interval: 30s
      timeout: 10s
      retries: 6

  plex:
    profiles:
      - plex
    image: plexinc/pms-docker:plexpass
    container_name: plex
    environment:
      - PLEX_UID=${PLEX_UID}
      - PLEX_GID=${PLEX_GID}
      - TZ=Europe/Paris
    volumes:
      - config_plex_tmp:/tmp
      - config_plex_tmp:/transcode
      - config_plex:/config/Library/Application Support
      - tv:/tv
      - movies:/movies
    ports:
      - 32400:32400
    devices:
      - /dev/dri:/dev/dri
    restart: unless-stopped

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Paris
    volumes:
      - config_jellyfin:/config
      - tv:/tv
      - movies:/movies
    ports:
      - 8096:8096
    devices:
      - /dev/dri:/dev/dri
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Paris
    volumes:
      - config_radarr:/config
      - movies:/movies
      - downloads:/downloads
    ports:
      - 7878:7878
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Paris
    volumes:
      - config_sonarr:/config
      - tv:/tv
      - downloads:/downloads
    ports:
      - 8989:8989
    restart: unless-stopped

  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Paris
      - AUTO_UPDATE=true
    volumes:
      - config_jackett:/config
      - downloads:/downloads
    ports:
      - 9117:9117
    restart: unless-stopped

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=info
      - LOG_HTML=false
      - CAPTCHA_SOLVER=none #harvester
      #- HARVESTER_ENDPOINT=https://127.0.0.1:5000/token
      - TZ=Europe/Paris
      - PORT=8191
      - LANG=en_US
    ports:
      - 8191:8191
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: service:nordlynx
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Paris
      - WEBUI_PORT=8080
    volumes:
      - config_qbittorrent:/config
      - downloads:/downloads
    restart: unless-stopped
    depends_on:
      nordlynx:
        condition: service_healthy

volumes:
  movies:
    driver: local
    driver_opts:
      type: nfs
      device: /volume1/Data/movies
      o: bind

  tv:
    driver: local
    driver_opts:
      type: nfs
      device: /volume1/Data/tv
      o: bind

  downloads:
    driver: local
    driver_opts:
      type: nfs
      device: /volume1/Data/downloads
      o: bind

  config_plex:
    driver: local
    driver_opts:
      type: nfs
      device: /var/packages/PlexMediaServer/shares/PlexMediaServer/AppData/
      o: bind

  config_plex_tmp:
    driver: local
    driver_opts:
      type: nfs
      device: /var/packages/PlexMediaServer/shares/PlexMediaServer/AppData/tmp/
      o: bind

  config_jellyfin:
    driver: local
    driver_opts:
      type: nfs
      device: /volume1/Data/config/jellyfin
      o: bind

  config_radarr:
    driver: local
    driver_opts:
      type: nfs
      device: /volume1/Data/config/radarr
      o: bind

  config_sonarr:
    driver: local
    driver_opts:
      type: nfs
      device: /volume1/Data/config/sonarr
      o: bind

  config_jackett:
    driver: local
    driver_opts:
      type: nfs
      device: /volume1/Data/config/jackett
      o: bind

  config_qbittorrent:
    driver: local
    driver_opts:
      type: nfs
      device: /volume1/Data/config/qbittorrent
      o: bind
